/********************/
/* BRANDING */
/********************/
/* font-color - #212529 */

/********************/
/* UNIVERSAL CSS */
/********************/
* {
	box-sizing: border-box;
	/* The box-sizing propery is used to tell the browser what the sizing properties (width and height) should include; border-box includes content, padding, and border, but not the margin */
	margin: 0;
	padding: 0;
}

h2, h3 {
	font-size: 2.5em;
}

/********************/
/* NAVIGATION CSS */
/********************/
.nav-list > li {
	display: inline-block;
}

.nav-list > li > a {
	color: #000;
	font-weight: 500;
}

.nav-list > li > a:hover {
	text-decoration: none;
}

#nav-number {
  text-align: right;
	font-size: 1.25em;
	font-weight: 500;
}

/********************/
/* HERO SECTION CSS */
/********************/
.hero-img {
	background-attachment: fixed;
	background-image: url("../../images/hero.jpg");
	background-position: top;
	background-size: cover;
	height: 100vh;

	position: relative;
}

.hero-container {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	padding: 1em 0;
}

.map-pin {
	float: left;
	width: 1.5em;
}

.hero-location {
	color: #fff;
	float: right;
	font-size: 2em;
	font-style: italic;
	margin: 0 0 0 1em;
}

.form-header {
	color: #fff;
	float: left;
	font-size: 2em;
	font-style: italic;
	margin: .12em 1em 0 0;
}

/********************/
/* JUNK REMOVAL SECTION CSS */
/********************/
.vanilla-anchor {
	border-bottom: 1px solid #212529;
	color: #212529;
	font-weight: bold;
}

.vanilla-anchor:hover {
	color: #212529;
	text-decoration: none;
}

/********************/
/* REQUEST A QUOTE SECTION CSS */
/********************/
#veteran-owned--logo {
	width: 10em;
}

.request-quote-text > p {
	font-size: 1.5em;
	font-weight: 300;
}

/********************/
/* INSTAGRAM SECTION CSS */
/********************/
#instagram-row > .col-md-6 {
	padding: .25em;
}

.instagram-logo {
	bottom: 1em;
	left: 2em;
	position: absolute;
	width: 4.5em;
}

/********************/
/* TOP RATED SECTION CSS */
/********************/
#top-rated {
	margin: 8em 0;
}

.col-md-4 {
	padding: 0;
}

.google, .facebook {
	width: 75%;
}

.home-advisor {
	width: 30%;
}

/********************/
/* JUNK WE REMOVE SECTION CSS */
/********************/
.junk-we-remove-text > p {
	font-size: 2.25em;
	margin-bottom: .5em;
}

.trash-items > li {
	font-size: 2em;
	margin-left: 1em;
}

.trash-items > li > a {
	border-bottom: 1px solid #212529;
	color: #212529;
}

.trash-items > li > a:hover {
	color: #212529;
	text-decoration: none;
}

/********************/
/* FOOTER SECTION CSS */
/********************/
footer {
	background-color: #231f20;
	padding: 4em 0;
}

.footer-list {
	margin-bottom: 10em;
}

.footer-list > li, .footer-sub-list > li {
	display: inline-block;
}

.footer-list > li:nth-child(2), .footer-sub-list > li:nth-child(2) {
	margin: 0 3em;
}

.footer-list > li > a, .footer-sub-list > li > a {
	color: #fff;
}

.footer-list > li > a {
	font-size: 1.5em;
}

.footer-sub-list > li > a {
	font-size: 1em;
}

.footer-list > li > a:hover, .footer-sub-list > li > a:hover {
	text-decoration: none;
}

.footer-logo {
	width: 18%;
}

/********************/
/* FORM SECTION CSS */
/********************/
.spa-section {
	display: none;
}

.modal-body .spa-section:first-child {
	display: block;
}
